.estopbutton {
    display: block;
    height: 200px;
    width: 100%;
    border: 2px solid rgba(33, 68, 72, 0.59);	
	text-align: center;
	font: 110px "Open Sans", Arial, Helvetica, Geneva, sans-serif;
}


#container{
  width: 30px;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  float:left;
}

.on {
  background: green;
}
.off {
  background: gray;
}

.indicatorLabel {
  display: block;
}

.status {
	width: 100%;
	height: 80px;	
	font: 30px "Open Sans", Arial, Helvetica, Geneva, sans-serif;
}

.time {
	width: 100%;
	text-align: center;
	font: 50px "Open Sans", Arial, Helvetica, Geneva, sans-serif;
}

#lightsCanvas {
	width: 100%;
	height: 40px;
	background-color: white;
}

#graphCanvas {
	background-color: white;
}

*[id*='g'] {
	width:120px;
	height:95px;
	display: inline-block;
}

body {
	background-color: white;
}